node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment variables
.env
.env.*
!.env.example
server/.env
server/.env.*
!server/.env.example

# Build artifacts
*.log
npm-debug.log*
.vercel

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea